@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .sidebar {
    left: -256px;
  }
  .shineWinners {
    background-color: rgba(245, 243, 243, 0.671);
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.356);
    animation: shine 3s ease-in-out infinite;
    width: 0px;
  }
  .inviteTheme {
    background: linear-gradient(to top, #9d07e2, #3608aa);
    border-radius: 0px 0px 80px 80px;
  }
  .loader {
    height: 60px;
    width: 60px;

    border: 2px solid rgb(238, 173, 173);
    border-top-color: red;
    animation: loader 1s linear infinite;
    transform-origin: center center;
    border-radius: 50%;
  }
  @keyframes loader {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }

  @keyframes shine {
    0% {
      margin-left: -30px;
    }
    100% {
      margin-left: 100%;
    }
  }
}
